body {
	margin:0;
	padding:0;
}
svg.world {
  margin:20px 0 0 20px;
  pointer-events: all;
}
.world path {
  pointer-events: none;
}
.dataArea {
  clip-path: url(#clip);
}
.world-path-stroke {
  fill: #1c4c79;
  stroke: #636363;
  stroke-width: 1px;
}
.fill {
  fill: #15445f;
}
.graticule {
  fill: none;
  stroke: #1785eb;
  stroke-width: .5px;
  stroke-opacity: .5;
}
.boundary {
  fill: none;
  stroke: #fff;
  stroke-width: .5px;
}
.country {
  fill: green;
  stroke:#fff;
  stroke-width: .5px;
}

